# Python cache
__pycache__/
*.pyc
*.pyo

# pytest cache
.pytest_cache/

# Virtual environment
.venv/

# Environment variables (keep your secrets safe)
.env

# Editor settings
.idea/
.vscode/

# Temporary files
tempCodeRunnerFile.py

#for javascripts
tempCodeRunnerFile.javascript

#Files of .exe
build/
dist/
.ico
.spec